/* 3/3 EXTERNAL CSS STYLING */

table {
    border: 1.5px solid black;
    /* border-collapse: collapse; */

}

td {
    border: 0.5px solid black;
    padding: 5px;
}

.numCol {
    background-color: rgb(209, 207, 207);
    color: black;
    font-weight: bolder;
}

.trRecommended {
    background-color: rgb(236, 224, 168);
}

th {
    color:red;
}